{{ $curLanguageName := .Site.Language.LanguageName }}
<header>
  <div class="signatures site-title" style="text-align: center">
    <a href="{{ .Site.LanguagePrefix }}/">
      <img src="/images/name.png" style="height: 64px"/>
    </a>
  </div>
</header>
<div class="row end-xs">
  {{ range .Site.Languages -}}
  {{ if ne .LanguageName $curLanguageName }}
  <div class="lang-switch col-xs-3 col-xs-offset-9">
    <a href="/{{ .Lang }}/">{{ .LanguageName }}</a>
  </div>
  {{ end }}
  {{ end }}
</div>
<!-- <div class="header-line"></div> -->
